*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body
{
    min-width: 300px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.display-none
{
  display: none;
}
.text-center
{
  text-align: center;
}
.font-bold
{
  font-weight: bold;
}
.color-red, .required
{
  color: red;
}
.flex {
  display: flex;
  align-items: center;
justify-content: center;   
}
.small-error
{
    float: right;
    width: 100%;
    text-align: right;
}
.box-shadow {
  box-shadow: 0px 0px 10px rgb(180, 180, 180);
}
.center
{
    margin: auto;
}
.force-center
{
    margin: auto;
    width: fit-content;
}
.width-100p
{
width: 100%;
}
.max-width-80p
{
max-width: 80%;
}
.width-1000 {
    width: 1000px;
  }
.width-600 {
  width: 600px;
}
.width-100-vw {
  width: 100vw;
}
.height-100-vh
{
  height: 100vh;
}
.form-padding
{
padding: 30px;
}
.border-none
{
border: none;
}
.outline-none
{
outline: none;
}
.input-group
{
    padding: 25px 0px;
}
.input-group .tx-input,.input-group .div-options-list,.div-options-list .tx-input2
{
  float: right;
  width: calc(100% - 140px);
  padding: 8px 10px;
  border: 1px solid rgb(200, 200, 200);
  margin-top: -10px;
}
.input-group .div-options-list
{
  border: 1px solid rgb(200, 200, 200);
  padding: 15px;
  width: calc(100% - 150px);
}
.div-options-list .tx-input2
{
  width: calc(100% - 60px);
  margin: 0px;
  float: none;

  
}
.input-group .btn-submit
{
  margin-left: 120px;
  padding: 10px 60px;
  transition: 0.3ms;
  cursor: pointer;
  background-color: #4681f4;
  color: white;
}
.input-group .btn-submit:hover
{
  background-color: #4181a4;
}

.btn-signout
{
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid rgb(200,200,200);
}
.success-response,.error-response
{
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  color: white;
}
.error-response
{
background-color: red;
}
.success-response
{
background-color: green;
}





.btn-start,.btn-add {
  padding: 10px 40px;
  background-color: #4681f4;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.btn-add
{
padding: 10px;
}
.div-head {
  background-color: rgb(240, 240, 240);
  padding: 0px 10px;
}

.div-head .head-1 {
  width: 55px;
}

.div-head .head-2 {
  width: calc(100% - 120px);
}

.div-head .head-3 {
  width: 60px;
}

.div-head .head-3 .btn-close {
  height: 20px;
  background-color: transparent;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}

.div-progressbar {
  width: calc(100% - 200px);
  max-width: 550px;
  background-color: rgb(200, 200, 200);
  height: 10px;
  margin-right: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.div-progressbar div {
  width: 10%;
  height: 30px;
  background-color: #4681f4;
}

.div-image {
  width: 60%;
  max-width: 100px;
}

.div-image img {
  width: 100%;
  height: 100%;
}

.div-options .options {
  margin: 0px 10px;
}

.rb-option+.lb-option {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.rb-option:checked+.lb-option {
  background-color: #4681f4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.rb-option+.lb-error-options {
  background-color: darkred;
  color: white;
}

.rb-option+.lb-success-options {
  background-color: darkgreen;
  color: white;
}


/* Table */
.tbl-data
 {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(240,240,240);
 }
 .tbl-data th
 {
background-color: #4681f4;
padding: 5px;
color: white;
font-size: 14px;
font-weight: normal;
text-align: left;
 }
 .tbl-data td
{
    padding: 5px;
}
.tbl-data tr:nth-child(even)
{
background-color: rgb(230,230,230);
}


@media(max-width:550px)
{
    .form-padding
{
padding: 20px;
}
    .input-group
{
    padding: 10px 0px;
}
    .input-group .tx-input
    {
      float: none;
      width: calc(100% - 20px);
      margin-top: 2px;
    }
    .input-group .btn-submit
    {
      margin-left: 0px;
      padding: 10px 60px;
      transition: 0.3ms;
      cursor: pointer;
      background-color: #4681f4;
      color: white;
    }
    
}